google-auth==2.38.0       # Only if you use GCP APIs
google-genai==1.9.0       # Only if using Gemini
fastapi==0.115.12
uvicorn==0.34.0
gunicorn==23.0.0

pandas==2.2.3
numpy==2.2.4
scikit-learn==1.6.1
joblib==1.4.2
xgboost==3.0.0
statsmodels==0.14.4
imbalanced-learn==0.13.0
category_encoders==2.8.1

python-multipart==0.0.20  # Required for form data
